.row
	.col-lg-12.thumbnail
		img(src='http://placehold.it/600x300', alt='ALT NAME')
	.caption
		h3 Name: Movie 1
		p Desc: Movie 1
		p  Time: 20min. / Pts: 9/10
		p(align='center')
	.editContainer
		button.btn.btn-success(data-ng-click="openEditor()") Edit
	div#msg
	from(method='post')
		.editor.thumbnail
			div.control-group.col-lg-12
				Name 
				label.control-label(for='name') Name
				div.controls.col-lg-12
					input#name.input-xlarge(type='text', name='name', placeholder='', data-ng-model="videoNameModel")
			div.control-group.col-lg-12
				Desc 
				label.control-label(for='name') Desc
				div.controls.col-lg-12
					input#desc.input-xlarge(type='text', name='desc', placeholder='', data-ng-model="videoDescModel")
			div.control-group.col-lg-12
				File 
				div.controls.col-lg-12
					label.control-label(for='name') File
					input#file.input-xlarge(type='file', name='file', placeholder='', data-ng-model="videoFileModel")
			div.control-group.col-lg-12
				br
				input.btn.btn-info(type='submit', value="Guardar", data-ng-click="save()")
				//input.btn.btn-info(type="submit", value="Guardar")
