extends layout

block body
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") FansWorldDemo
    
    .collapse.navbar-collapse.navbar-ex1-collapse(ng-controller="loginCtrl")
      ul.nav.navbar-nav
        li
          a(href="view1") Videos
        li
          a(href="view2") Perfil
        li
          a#logout(href='', data-ng-click="logout()") Logout
        form#custom-search-form.form-search.form-horizontal.pull-right
          .input-append.span12
            input#buscar.search-query(type='text', placeholder='Buscar')
            button.btn(type='submit')
              i.icon-search
  .container      
      div#ngView(ng-view)
    hr
  
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-cookies.js')
  script(src='js/smoke.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/factories.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='js/jquery.tokeninput.js')